a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #1a202a;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}
a {
  text-decoration: none;
  background-color: #00000000;
}
a:visited {
  text-decoration-color: none !important;
}

h4 {
  margin: 0px;
}

.listElDiv {
  display: flex;
  flex-direction: column;
  max-width: 1012px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.outer-div__size {
  margin-top: 20px;
  padding-top: 40px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.repoContainer--style {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(70, 69, 69);
  padding: 25px;
}
.text-box {
  padding: 5%;
  border-bottom: 1px solid rgb(70, 69, 69);
  align-content: center;
  font-weight: 800;
  font-style: italic;
  padding-top: 40px;
  padding-bottom: 40px;
}

.repoHead--blue {
  font-size: 135%;
  color: #58a6ff;
}

.repo__description--white {
  color: #949ba3;
}
.repoBasicInfo--white {
  color: #949ba3;
}

.forkIconContainer--style-size {
  padding: 20px;
  margin-top: 2px;
}

#text-box__heading--white {
  color: #c9d1d9;
}
#text-box__heading--gray {
  color: #525861;
}

#text-box__heading {
  align-content: center;
}

.text-box {
  text-align: center;
}

.repoHeadLink--white {
  color: #c9d1d9;
}
.starContainer--gray {
  color: #525861;
}
#totalStars--gray {
  color: #c9d1d9;
}
.totalStars--style {
  text-decoration: none;
}

#Head__big {
  flex-grow: 1;
}

.StarDivContainer__container {
  justify-content: flex-end !important;
  padding: 12px;
  width: fit-content;
  border: 1px solid rgb(92, 72, 72);
}

.localStar__container {
  align-self: flex-end;
  /* justify-content: flex-end !important; */
  color: white;
  padding: 3px 12px;
  border: 1px solid white;
}

.listEl__box-header {
  border: 2px solid rgb(92, 83, 83);
  color: white;
  max-width: 1012px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 36px;
}
.listEl__box-header__spoken-lang {
  padding: 22px;
  border: 1px solid rgb(92, 72, 72);
}
